/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
:root {
  font-size: 16px;
}

@font-face {
  font-family: "Afronaut";
  font-style: normal;
  font-weight: normal;
  src: url("fonts/AfronautTest-Regular.otf") format("opentype");
}
@font-face {
  font-family: "acumin-variable";
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/Acumin Variable Concept.ttf");
}

.menu {
  background-color: #141418;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu-item {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgb(91 91 91 / 44%);
}
.menu-item:hover .item-name {
  color: peachpuff;
  transform: translateX(0px);
}

.item-name {
  padding-left: 20vw;
  color: rgb(73, 73, 70);
  font-size: 75px;
  font-family: "Afronaut";
  cursor: pointer;
  transform: translateX(80px);
  transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.item-desc {
  color: #f1f1f1;
  text-transform: uppercase;
  font-size: 14px;
  font-family: "acumin-variable";
  opacity: 0;
  max-width: 450px;
  padding-left: 30px;
  transform: translateY(20px);
}
.menu-item:hover .item-desc {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
}
